name: Run static checks and tests 

on:
  workflow_dispatch:
  # Runs when a PR is made against master branch 
  pull_request:
    branches: [ master ]

env:
  flutter_version: "2.5.2"

jobs:
  run_checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Cache Flutter dependencies
        uses: actions/cache@v2
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.OS }}-flutter-install-cache-${{ env.flutter_version }}  
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter_version }}
          channel: stable
      - name: Check for any formatting issues in the code
        run: flutter format --set-exit-if-changed .
      # NOTE: submodules are being fetched _after_ formatting -
      # we don't want to fail because of bad formatting in submodules
      - name: Checkout submodules (Open Food Facts)
        run: git submodule update --init --recursive
      - name: Statically analyze the Dart code for any errors
        run: flutter analyze .
      - name: Run pub get   
        run: flutter pub get
      - name: Run tests
        run: flutter test
